.single-blog-cont{
    max-width: 1200px;
    position: relative;
}
.single-blog-cont main{
    padding: 24px;
}

.single-blog-cont main h1{
    font-family: 'RokhFaBold';
    font-size: 24px;
    line-height: 2.15rem;
    text-align: center;
}


/* Table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #3e3e3e;
    padding: 12px;
    font-size: 13px;
    font-weight: 100;
}

tr:nth-child(even){
    background-color: #2f2f2f;
}
tr:nth-child(1){
    background-color: #a6a182fa;
}
tr:nth-child(1) td{
    font-size: 15px;
    font-weight: bold;
}
figure.table{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.breadcrumb{
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    gap: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 8px;
    
}
.breadcrumb li a {
    text-decoration: underline;
    color: white;
    font-size: 12px;
}
.active_breadcrumb{
    
    color: #cbc5a1;
    font-size: 12px;
}
.publish-date {
    
    display: flex;
    gap: 4px;
    position: absolute;
    right: 50%;
    bottom: 16px;
    transform: translateX(50%);
}
.publish-date span{
    font-size: 10px;
}

.faq span{
    font-size: 15px;
}
.faq ul div{
    padding: 10px;
    background: linear-gradient(to bottom, #212121, #2E2E2E);
    border-radius: 12px;
    border: 1px solid #323232;
}
.faq-q{
    font-size: 16px;
}
.faq-a{
    font-size: 14px;

}

/* Responsive */

@media only screen and (min-width : 768px){
    .single-blog-cont {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .single-blog-cont main{
        padding: 0.5rem;
    }
}
@media only screen and (min-width : 1281px){
    .single-blog-cont main{
        padding: 1rem;
    }
}



@media only screen and (max-width : 1280px){
    .single-blog-cont{
        max-width: 1000px;
    }
    .single-blog-cont main h1{
        font-size: 22px;
    }
}

@media only screen and (max-width : 1024px){
    .single-blog-cont{
        max-width: 768px;
    }
    .single-blog-cont main h1{
        font-size: 20px;
    }
}
@media only screen and (max-width : 768px){
    .single-blog-cont{
        max-width: 768px;
        
    }
    .single-blog-cont main h1{
        font-size: 23px;
    }
}

@media only screen and (max-width : 600px){
    .single-blog-cont main{
        padding: 12px;
    }
    .single-blog-cont main h1{
        font-size: 20px;
    }
    
}
@media only screen and (max-width : 400px){
    .single-blog-cont{
        margin-right: 8px;
        margin-left: 8px;
    }
    .single-blog-cont main{
        padding: 0.75rem;
    }
    .single-blog-cont main h1{
        font-size: 20px;
        text-align: center;
    }
    .breadcrumb {
        width: 100%;
        color: white;
        border-radius: 8px;
        padding-top: 6px;
        padding-bottom: 8px;
        padding-right: 8px;
        padding-left: 8px;
        flex-wrap: wrap;
        border: 1px solid #2f2f2f;
    }
    .breadcrumb li a {
        color: white;
        font-size: 10px;
    }
    .active_breadcrumb{
        font-size: 10px;
    }
    .faq span{
        font-size: 15px;
    }
    .faq ul div{
        padding: 10px;
        background: linear-gradient(to bottom, #212121, #2E2E2E);
        border-radius: 12px;
        border: 1px solid #323232;
    }
    .faq-q{
        font-size: 13px;
    }
    .faq-a{
        font-size: 12px;

    }
    .single-blog-cont main h1{
        font-size: 18px;
        line-height: 24px;
    }
}