.big-title {
    width:90%;
    margin:100px auto 10px;
    max-width:1200px;
    position:relative;
    height:200px
}
.big-title span {
    font-size: 180px;
    color: #363636;
    letter-spacing: 15px;
    font-family: 'Calibri';
    z-index: 1;
    font-weight: bold;
    text-align:center;
    display:block;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top:0;
}

/* Responsive */

@media only screen and (max-width: 1280px){
    .big-title span {
        font-size: 170px;
    }
}
@media only screen and (max-width: 1024px){
    .big-title span {
        font-size: 150px;
    }
}
@media only screen and (max-width: 900px){
    .big-title span {
        font-size: 140px;
        letter-spacing: 10px;
        
    }
    .big-title{
        height: 150px;
    }
}
@media only screen and (max-width: 800px){
    .big-title span {
        font-size: 120px;
        letter-spacing: 8px;
    }
}
@media only screen and (max-width: 680px){
    .big-title span {
        font-size: 100px;
        letter-spacing: 6px;
    }
    .big-title{
        height: 100px;
    }
}
@media only screen and (max-width: 550px){
    .big-title span {
        font-size: 80px;
    }
    .big-title{
        height: 80px;
    }
}
@media only screen and (max-width: 480px){
    .big-title span {
        font-size: 60px;
        letter-spacing: 4px;
    }
    .big-title{
        height: 70px;
    }
}
@media only screen and (max-width: 390px){
    .big-title span {
        font-size: 45px;
        letter-spacing: 4px;
    }
}