.footer-favo{
    background-color:#070707;
    height:440px;
    max-width:1200px;
    margin: 10px auto;
    border-radius:5px;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.footer-favo-contact{
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-family: "RokhFaBold";
}
.footer-favo-contact p{
    color: #e6e6e6;
    max-width: 220px;
    word-spacing: 2px;
    text-align: center;
    width: 100%;
    display: block;
}

.footer-favo-contact span{
    display:block;
}
.footer-favo-title{
    height:100%;
    display:flex;
    justify-content:end;
    align-items:center;
}

.footer-favo-title h2 {
    
    letter-spacing:8px;
    font-size:60px;
    writing-mode: vertical-lr;
    transform: rotateZ(180deg);
    font-weight:900;
}
.footer-favo-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 20px;
}
.footer-favo-socials a{
    padding: 4px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-favo-socials a:hover{
    box-shadow: 0 0 5px #a6a182,
    0 0 25px #a6a182, 
    0 0 50px #a6a182, 
    0 0 100px #a6a182, 
    0 0 200px #a6a182;
    background-color: #a6a182;
}
.footer-favo-socials a:focus{
    box-shadow: 0 0 5px #837f67,
    0 0 25px #837f67, 
    0 0 50px #837f67, 
    0 0 100px #837f67, 
    0 0 200px #837f67;
    background-color: #837f67;
    outline: none;
}
.footer-favo-socials a i{
    font-size: 20px;
    
}

/* Responsive */

@media only screen and (max-width: 628px){
    .footer-favo{
        
        height:auto;
        max-width:1200px;
        margin: 10px 0.725rem;
        border-radius:5px;
        flex-direction: column;
        
    }
   
    .footer-favo-title h2 {
        letter-spacing:8px;
        font-size:60px;
        writing-mode: horizontal-tb;
        transform: rotateZ(0);
        display: block;
        width: 100%;
        text-align: center;
        font-weight:900;
    }
    .footer-favo-contact p{
        max-width: 260px;
        word-spacing: 2px;
        
    }
}
