.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 450px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  /* height: 200px; */
}
.swiper-pagination-bullet {
  background: #fff; /* رنگ نقاط */
  opacity: 0.6;
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active {
  background: #cebf5f; /* رنگ نقطه فعال */
  opacity: 1;
  transform: scale(1.2); /* بزرگ‌تر شدن نقطه فعال */
  width: 13px;
  height: 13px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.loc-card{
  padding: 12px;
  /* background: linear-gradient(71deg, #080509, #1a171c, #080509); */
  background: #212121;
  
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.2s ease-out ;
}
.swiper-slide-active .loc-card:hover{
  background-color: rgb(61, 60, 56);
}


.loc-card img{
  border-radius: 12px 12px 4px 4px;
}
.loc-card h3{
  font-size: 15px;
  margin-top: 16px;
  text-align: center;
}


/* Modal */
.modal-content{
  width: 50%;
  height: 80%;
  max-width: 88%;
  max-height: 88%;
}
.gallery-img-cont:hover{
  box-shadow: 0 0 5px #a6a182,
  0 0 25px #a6a182, 
  0 0 50px #a6a182, 
  0 0 100px #a6a182, 
  0 0 200px #a6a182;
}
@media only screen and (min-width : 244px ){
  .modal-content{
      width: 80%;
      height: 80%;
      max-height: 80%;
  }   
}
@media only screen and (min-width : 730px ){
  .modal-content{
      width: 80%;
      height: 75%;
      max-height: 75%;
  }
  .modal-content img{
      width: fit-content;
      height: fit-content;
  }
}
@media only screen and (min-width : 1200px ){
  .modal-content{
      width: 60%;
      height: 75%;
      max-height: 75%;
  }
  .modal-content img{
      width: fit-content;
      height: fit-content;
  }
}


/* Responsive */

@media only screen and (max-width: 480px){
  
  .swiper-slide img{
    
    width: 200px;
    height: 160px;
  }
  .swiper {
    padding-top: 0;
    padding-bottom: 0px;
    height: 100px!important;
    min-height: 300px;
  }
  .loc-card{
    padding: 12px;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    border: 2px solid transparent;
    border-radius: 24px;
    
  }
  .loc-card img{
    border-radius: 24px 24px 8px 8px;
  }
}