



.swiper-button-prev  {
    width: 40px;
    height: 40px;
    margin-bottom: 1px;
    background-color: white;
    border: none;
    font-size: 5px;
    cursor: pointer;
    font-weight: bold;
    top:90%;
    left:100px;
    right:60px;
    border-radius:9px;
    box-shadow: 0px 0px 9px 0 black;
}
.swiper-button-next {
/* .swiper-button-next { */
    width: 40px;
    height: 40px;
    margin-bottom: 1px;
    background-color: white;
    border: none;
    font-size: 5px;
    cursor: pointer;
    font-weight: bold;
    top:90%;
    left:100px;
    right:60px!important;
    border-radius:9px;
    box-shadow: 0px 0px 9px 0 black;
}

.swiper-button-prev:after {
  content: '<'!important; /* Remove default icon */
  color:black;
  font-size:30px;
}

.swiper-button-next:after {
  content: '>'!important; /* Remove default icon */
  color:black;
  font-size:30px;
}

.slider-image-card {
    position: absolute;
    top: 30%;
    background-color: #1B1B1B;
    right: 50px;
    padding: 26px;
    width: 340px;
    box-shadow:0 4px 6px 0 #000;
  }
  
  .slider-image-card h4 {
    color: #a6a182;
    text-align:left;
    font-family: 'greatVibes';
    font-size: 30px;
    
  }
  
  .slider-image-card a {
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 35px;
    
    font-family: 'greatVibes';
    display: block;
    width: 100%;
  }
  
  .slider-image-card .hyperText {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-top: 60px;
    margin-bottom: 70px;
  }
  
  .slider-image-card .hyperText a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 60px;
    background-color: #54595f;
    z-index: 10;
  }