



.swiper-button-prev  {
    width: 40px;
    height: 40px;
    margin-bottom: 1px;
    background-color: white;
    border: none;
    font-size: 5px;
    cursor: pointer;
    font-weight: bold;
    top:90%;
    left:100px;
    right:60px;
    border-radius:9px;
    box-shadow: 0px 0px 9px 0 black;
}
.swiper-button-next {
/* .swiper-button-next { */
    width: 40px;
    height: 40px;
    margin-bottom: 1px;
    background-color: white;
    border: none;
    font-size: 5px;
    cursor: pointer;
    font-weight: bold;
    top:90%;
    left:100px;
    right:60px!important;
    border-radius:9px;
    box-shadow: 0px 0px 9px 0 black;
}

.swiper-button-prev:after {
  content: '<'!important; /* Remove default icon */
  color:black;
  font-size:30px;
}

.swiper-button-next:after {
  content: '>'!important; /* Remove default icon */
  color:black;
  font-size:30px;
}

.slider-image-card {
    position: absolute;
    top: 30%;
    background-color: #1B1B1B;
    right: 50px;
    padding: 26px;
    width: 340px;
    box-shadow:0 4px 6px 0 #000;
  }
  
  .slider-image-card h4 {
    color: #a6a182;
    text-align:left;
    font-family: 'greatVibes';
    font-size: 30px;
    text-shadow: 0 8px 8px BLACK;
  }
  
  .slider-image-card a {
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 35px;
    letter-spacing: 3px;
    font-family: 'greatVibes';
    display: block;
    width: 100%;
    text-shadow: 0 10px 10px BLACK;
  }
  
  .slider-image-card .hyperText {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-top: 60px;
    margin-bottom: 70px;
  }
  
  .slider-image-card .hyperText a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 60px;
    background-color: #54595f;
    z-index: 10;
  }

  /* Responsive  */



@media (max-width: 1200px) {
    .swiper {
        height: 700px; /* برای صفحه‌نمایش‌های متوسط */
    }
    .slider-image-card {
      top: 34%;
      right: 50px;
      padding: 23px;
      width: 300px;
    }
    .slider-image-card a {
      font-size: 30px;
      letter-spacing: 1px;
    }
}


@media (max-width: 850px) {
    .swiper {
        height: 600px; /* برای تبلت‌ها و صفحه‌نمایش‌های کوچک‌تر */
    }
    .slider-image-card {
      top: 34%;
      right: 50px;
      padding: 18px;
      width: 300px;
    }
    .slider-image-card a {
      font-size: 24px;
      
    }
    .slider-image-card .hyperText {
      margin-bottom: 40px;
  }
}


@media (max-width: 768px) {
  .swiper {
    height: 500px; 
  }
  .slider-image-card h4 {
    font-size: 27px;
}
  .slider-image-card {
    top: 34%;
    right: 30px;
    padding: 18px;
    width: 250px;
  }
  .slider-image-card a {
    font-size: 22px;
    
  }
  .slider-image-card .hyperText {
    margin-bottom: 20px;
  }
  .swiper-button-next{
    width: 30px;
    height: 30px;
    right: 80px!important;
  }
  .swiper-button-next:after{
    font-size: 26px;
  }
  .swiper-button-prev{
    width: 30px;
    height: 30px;
    right: 40px!important;
  }
  .swiper-button-prev::after{
    font-size: 26px;
  }
}


@media (max-width: 480px) {
  .swiper {
    height: 400px; /* برای موبایل‌ها */
  }
  .slider-image-card h4 {
    font-size: 20px;
  }
  .slider-image-card {
    top: 37%;
    right: 10px;
    padding: 18px;
    width: 180px;
  }
  .slider-image-card a {
    font-size: 18px;    
  }
  .slider-image-card .hyperText a::before {  
    height: 40px;
  }
  .slider-image-card .hyperText {
    padding-top: 40px;  
  }
  .slider-image-card .hyperText {
      margin-bottom: 5px;
  }
  .swiper-button-next{
    width: 24px;
    height: 24px;
    right: 60px!important;
  }
  .swiper-button-next:after{
    font-size: 22px;
  }
  .swiper-button-prev{
    width: 24px;
    height: 24px;
    right: 25px!important;
  }
  .swiper-button-prev::after{
    font-size: 22px;
  }
}