.toc-ul li a {
  padding-right: 20px;
  margin-bottom: 8px;
  transform: translateX(20px);
  cursor: pointer;
  transition: border-right 0.3s ease;
  outline: none;
  font-size: 13px;
  /* Removes default outline */
}

.toc-ul li a:focus {
  border-right: 2px solid #E1D79A;
  /* Border on focus */
}

.toc-cont {
  padding: 1rem;
  background-color: #2a2a2a;
  border-radius: 12px;
  border: 1px solid #323232;
}

@media only screen and (max-width : 600px){
  .toc-cont {
    padding: 10px;
 
    border-radius: 12px;
    border: 1px solid #323232;
  }
  
}

@media only screen and (max-width : 400px) {
  .toc-cont {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #323232;
  }
  .toc-cont > span {
    font-size: 15px;
  }

  .toc-ul li a {
    padding-right: 20px;
    margin-bottom: 8px;
    transform: translateX(20px);
    cursor: pointer;
    transition: border-right 0.3s ease;
    outline: none;
    font-size: 12px;
  }
}