.toc-ul li a {
  padding-right: 20px;
  margin-bottom: 8px;
  transform: translateX(20px);
  cursor: pointer;
  transition: border-right 0.3s ease;
  outline: none;
  /* Removes default outline */
}

.toc-ul li a:focus {
  border-right: 2px solid #E1D79A;
  /* Border on focus */
}

.toc-cont {

  background-color: #494844;



}